@model IEnumerable<kursovaya2.Models.Request1_Result>
@{
    ViewBag.Title = "Регистрации";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a class="btn btn-primary" href="Request1/Result/1000021">Редактировать</a>