@model kursovaya2.Models.Student

@{
    ViewBag.Title = "Справка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-3">Справка</h2>

<div>
    <h4>Студент</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Номер зачетной книжки
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentNumber)
        </dd>
        <dt>
            Номер группы
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group_NumberOfGroup)
        </dd>

        <dt>
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fulll_Name)
        </dd>

    </dl>
</div>
<p>
    @{var id = Model.StudentNumber;}
    <a class="btn btn-primary" href="/Student/Edit/@id">Редактировать</a> |
    @Html.ActionLink("Вернуться", "Index")
</p>