@model kursovaya2.Models.StudentGroup

@{
    ViewBag.Title = "Список указанных студентов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="mt-4">Введите название предмета</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group mt-3">
        <div class="col-4">
            @Html.TextArea("SubjectTitle", "")
        </div>
        <div class="col-4">
            @Html.TextArea("CountOfTasks", "")
        </div>
    </div>
    <div class="col-md-offset-2 col-4 mt-3">
        <input type="submit" value="Найти" class="btn btn-primary" />
    </div>
}