@model kursovaya2.Models.Subject

@{
    ViewBag.Title = "Справка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-3">Справка</h2>

<div>
    <h4>Предмет</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название предмета
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            Имя лектора
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullNameOfLecturer)
        </dd>

        <dt>
            Название кафедры
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleOfDepartmen)
        </dd>

    </dl>
</div>
<p>
    @{var id = Model.Title;}
    <a class="btn btn-primary" href="/Subject/Edit/@id">Редактировать</a> |
    @Html.ActionLink("Вернуться", "Index")
</p>
