@{
    ViewBag.Title = "Главная";
}

<div class="row" style="margin-top: 5rem">
    <img class="col-6 " src="https://семья48.рф/wp-content/uploads/2021/09/tajny-lpk-ltl.jpg" />
    <div class="col-6" style="text-align: center">
        <h2 style="margin-top: 5rem">Следите за своей успеваемостью</h2>
        <p>
            Это приложение для студентов и преподавателей. Здесь вы можете посмотреть задания,
            расписание и наблюдать за вашей успеваемостью.
        </p>
    </div>
</div>
